@charset "utf-8";
body {
	/*background:url(../img/bj.jpg) no-repeat;
    background-size:100%;*/
    background-image:url(../img/body_bg.jpg);
    background-attachment:fixed;
    background-size:cover;
    -moz-background-size:cover;
    -webkit-background-size:cover;
}
#login-logo{
    padding: 10px;
    text-align:center;
}
#logo{
    position: absolute;
    top: 22%;
    text-align:center;
}
#from-logo{
    position: absolute;
    left: 25.5%;
    top: 50%;
}
.lab{
    color: black;
    font-family: 宋体;
}
.panel-body{
    padding: 0px;
    font-size: 13px;
}
.panel-body ,a,panel-group:hover{
     cursor:pointer;
}
.panel-title{
    font-size: 15px;
}
#welcome{
    color: white;
}